// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tagBlue: #387fc1;
.header {
  background: url(/assets/banner.jpg) no-repeat;
  width: 1000px;
  height: 198px;
  margin: 10px auto 0px;
  display: block;
}

.main-body {
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  min-height: 600px;
}

.current_user {
  text-align: right;
  padding: 5px;
}

.admin_posts {
  .title {
    margin-top: 20px;
    border-bottom: 1px solid #dddddd;
  }
}

.posts {
  ul {
    list-style-type: none;
  }

  .post_body {
    margin-top: 15px;
    border-bottom: 1px solid #dddddd;
  }

  .tags {
    list-style-type: none;
    margin-left: 0px;

    li {
      font-size: 13px;
      color: #26ACDC;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .filed_in {
    margin-top: 15px;

    .main {
      float: left;
      height: 21px;
      padding: 4px 5px 5px 5px;
      background: $tagBlue;
      color: #ffffff;
      font-weight: bold;
      border-radius: 3px 0px 0px 3px;
    }

    .tag {
      background: url(/assets/tag.png) no-repeat;
      height: 21px;
      width: 12px;
      margin-left: -1px;
      float: right;
    }
  }
}

.links {
  ul {
    list-style-type: none;
  }

  h6 {
    color:  #666666;
  }
}

.date {
  display: block;
  font-size: 13px;
}

.announcements {
  ul {
    list-style-type: none;
  }

  li {
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd;
  }

  h6 {
    color: #666666;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .date {
    text-align: right;
  }
}

.posts,
.left-sidebar,
.right-sidebar {
  padding: 10px 10px;
}

.home {
  h3 {
    font-weight: normal;
    color: #26ACDC;
    margin-bottom: 5px;
  }

  hr {
    margin-top: 0px;
  }
}