.announcements
  %h3
    Announcements
  %hr
  %ul
    - @announcements.each do |announcement|
      %li
        %h6
          = announcement.title
        %p
          = announcement.body
        %span.date
          - if !announcement.announcement_date.nil?
            = announcement.announcement_date.to_s(:when)