.links
  %h3
    Links
  %hr
  %ul
    %li
      %a{:href => "/admin/stakeholders"}
        %h6
          Stakeholders
    %li
      %a{:href => "https://sites.google.com/a/ahmepartnership.org/internal/resources"}
        %h6
          Resources
    %li
      %a{:href => "http://drive.google.com/a/ahmepartnership.org/"}
        %h6
          Google Drive
    %li
      %a{:href => "http://calendar.google.com/a/ahmepartnership.org/"}
        %h6
          Calendar
    %li
      %a{:href => "/admin/posts/new"}
        %h6
          New Post